* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: red solid 1px; */
}
body {
  height: 100vh;
  width: 100vw;
}
#canvas-container {
  text-align: center;
  width: auto;
}
canvas {
  margin: 10px;
}
.button-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
}
.solver-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.metrics-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}
.main-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title-Container {
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
.timer-box {
  margin: 5px 10px;
  padding: 12px 0;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background: #fafafa;
}
